@page
@model Website.Pages.AboutModel
@{
	ViewData["Title"] = "About";
}

<h1 class="title">About Dino-Diner</h1>

<div style="text-align: center">
	<a asp-page="Index">Home</a>
	<a asp-page="About" class="active">About</a>
	<a asp-page="Menu">Menu</a>
	<a asp-page="Privacy">Privacy Policy</a>
</div>

<p style="text-align:center">
	Founded in 2019 from the collective collective consciousness of the Fall Semester CIS 400 students of Kansas State University, <br />
	Dino-Diner is devoted to bringing you the finest in dinosaur-themed dining experiences. <br />
	Despite the prehistoric nature of our menu, we only use the freshest of ingredients, <br />
	and no dinosaurs were harmed to bring our delectable fare to you.<br />
</p>

