@page
@model Website.Pages.PrivacyModel
@{
	ViewData["Title"] = "Privacy Policy";
}

<h1 class="title">Dino-Diner Website Privacy Policy</h1>

<div style="text-align: center">
	<a asp-page="Index">Home</a>
	<a asp-page="About">About</a>
	<a asp-page="Menu">Menu</a>
	<a asp-page="Privacy" class="active">Privacy Policy</a>
</div>

<p style="text-align:center">
	Dino-Diner respects and values the privacy of its customers, as we hope you respect and value our own. <br />
	This site does not collect any data on you. This site does not use cookies. <br />
	This site only displays information about Dino-Diner and its delectable food and delightful dinosaur-themed ambiance.<br />
</p>

